body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: rgb(33, 92, 175);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: justify;

}

h2 {
    color: rgb(33, 92, 175);
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ffffff;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    margin-top: 20px;
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border-left: 4px solid rgb(33, 92, 175);
    overflow-x: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background: #f9f9f9;
    padding: 2px 4px;
    border-radius: 4px;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 750px; /* Set the desired height */
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#view-count {
    display: none;
}

